.root {
	-fx-background-color: #acb0bd;
}

.title {
	-fx-fill: #23395b;
	-fx-stroke-width: 4px;
	-fx-stroke: #cd8b76;
	-fx-font-size: 75pt;
	-fx-font-weight: bold;
}

.centerPane {
	-fx-alignment: center;
}

.button {
	-fx-color: #d0cdd7;
	-fx-text-fill: #23395b;
	-fx-font-size: 11pt;
}
